.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1f2937;
  color: #fff;
  padding: 15px;
}

.logo {
  margin-bottom: 20px;
  text-align: center;
}

/* Links */
.sidebar a {
  display: block;
  padding: 10px;
  color: #d1d5db;
  text-decoration: none;
  border-radius: 4px;
}

.sidebar a:hover {
  background-color: #374151;
}

.sidebar a.active {
  background-color: #4f46e5;
  color: #fff;
}

/* Products menu */
.menu-item {
  position: relative;
  /* display: flex; */
}

.has-submenu {
    /* background-color: aliceblue; */
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  font-size: 10px;
  opacity: 0.7;
  transition: transform 0.2s ease;
}

/* Rotate arrow on hover */
.menu-item:hover .arrow {
  transform: rotate(90deg);
}

/* Submenu (shown via *ngIf) */
.submenu {
  display: block;
  position: static;
  margin-left: 12px;
  background-color: #111827;
  border-radius: 6px;
  padding: 8px 0;
  color: #d1d5db;
}

.submenu a {
  padding: 8px 12px;
  font-size: 14px;
}
