
<app-header></app-header>

<div class="layout">
  <app-sidebar></app-sidebar>
<main class="main">
  <router-outlet></router-outlet>
</main>
</div>


<!-- <app-products></app-products> -->
<!-- <div class="app-container">
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2>Fikat Finishing PLC</h2>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li class="dropdown" >
  <a routerLink="/products" routerLinkActive="active">
    Products
  </a>

  <ul class="dropdown-menu" *ngIf="isProductsOpen">
    <li><a routerLink="/products/list">Product List</a></li>
    <li><a routerLink="/products/create">Add Product</a></li>
  </ul>
</li>

        <li><a routerLink="/customers" routerLinkActive="active">Customers</a></li>
        <li><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
        <li><a routerLink="/reports" routerLinkActive="active">Reports</a></li>
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    
    <router-outlet></router-outlet> -->
  <!-- </main>
</div> --> 
